<%= render 'layouts/header' %>

<div class='container'>
	<div class='panel panel-default panel-form'>
		<div class='panel-body'>
			<% if logged_in? %>
	    		<% if current_user.id == @user.id %>
					<h2>Edit your info</h2>

					<%= render 'form' %>
				<% else %>
					<p>You don't have permission to access this page</p>
				<% end %>
			<% else %>
				<p>You don't have permission to access this page</p>
			<% end %>
		</div>
	</div>
</div>

<%= render 'layouts/footer' %>