*{
	font-family: 'Roboto', sans-serif !important;
}

body{
	/*background-image: url("bg.png");*/
	background-color: #efefef;
}

footer{
	border-top: solid 0.5px #aaa;
	width: 100%;
	padding-top: 32px;
	padding-bottom: 32px;
}

.navbar-form{
	margin-bottom: 0 !important;
}

.btn-primary{
	color: #fff;
}

.displacer{
	height: 50px;
}

.right{
	float: right;
}

.left{
	float: left;
}

.list-group{
}

.list-group h2{
	font-weight: bolder;
}

.list-group a{
	color: #222;
}

.list-group a:hover{
	text-decoration: none;
}

.list-group a:active{
	text-decoration: none;
}

.panel{
	box-shadow: 0 2px 2px -s2px rgba(0,0,0,0.3);
}

.panel-form{
	margin-top: 20px;
}

.btn-success{
	color: #fff !important;
}
.btn-primary{
	color: #fff !important;
}

.btn-white{
	color: #fff !important;
	background-color: #fff !important;
	border: none;
}

.text-area{
	min-height: 300px;
}

.panel-link{
	color: #222;
}

.panel-link:hover{
	text-decoration: none;
}

.edit-link:hover{
	text-decoration: none !important;
	background-color: none !important;
	font-weight: bolder !important;
	color: #fff !important;
	border-radius: 2px;
}